<!--Intro Contact Container -->
<div class="container intro">
    <!--Title -->
    <div class="row row-title">
        <div class="col">

        </div>
        <div class="col">
            <div class="title">
                <div class="col">
                    <div class="row row1">
                        <h2>Contact us</h2>
                    </div>
                    <div class="row row2">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

        </div>
    </div>

    <!--Features -->
    <div class="row row3">
        <!--Email -->
        <div class="col col1">
            <div class="row row-email">
                <img src="/src/assets/contact/Email.svg" alt="email icon">
                <h4>Email</h4>
                <p>    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in ero.</p>
                <a href="mailto:hello@Ddsgnr.io">hello@Ddsgnr.io</a>
            </div>
        </div>
        <!--Live chat -->
        <div class="col col1">
            <div class="row row-chat">
                <img src="/src/assets/contact/Chat.svg" alt="chat icon">
                <h4>Live chat</h4>
                <p>    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in ero.</p>
                <a href="mailto:hello@Ddsgnr.io">Start new chat</a>
            </div>
        </div>
        <!--Phone -->
        <div class="col col1">
            <div class="row row-phone">
                <img src="/src/assets/contact/Phone.svg" alt="phone icon">
                <h4>Phone</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in ero.</p>
                <a href="tel:+15550000000">+1 (555) 000-0000</a>
            </div>
        </div>
        <!--Office -->
        <div class="col col1">
            <div class="row row-office">
                <img src="/src/assets/contact/Office.svg" alt="phone office">
                <h4>Office</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in ero.</p>
                <a href="https://maps.app.goo.gl/uhtxQvPK1GatcmgT7">123 Sample St, Sydney NSW 2000 AU</a>
            </div>
        </div>
    </div>
</div>

<hr/>

<!--Form Container -->
<div class="container form">
    <div class="row row-form">
        <div class="col col-form">
            <div class="container title-section">
                <div class="row row-title-section">
                    <p>Tagline</p>
                    <h2>Contact us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
            </div>
        </div>
        <div class="col col-form">
            <img src="/src/assets/contact/wheel-img.png" alt="wheel img">
        </div>
    </div>
</div>
