<div class="container">
    <!--Title -->
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <div class="title">
                <div class="col">
                    <div class="row row1">
                        <h2>Contact us</h2>
                    </div>
                    <div class="row row2">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

        </div>
    </div>

    <!--Features -->
    <div class="row row3">
        <!--Email -->
        <div class="col col1">
            <div class="row row-email">
                <img src="/src/assets/contact/Email.svg" alt="email icon">
                <p>Email</p>
                
            </div>
        </div>
        <!--Live chat -->
        <div class="col">

        </div>
        <!--Phone -->
        <div class="col">

        </div>
        <!--Office -->
        <div class="col">

        </div>
    </div>
</div>
