---
import AboutCom from "../components/AboutComponent.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/about.css";
---

<Layout pageTitle={"About | Ddsgnr"} pageDesc={"this is abou page"}>
  <main>
    <AboutCom />
  </main>
</Layout>

