---
import Layout from "../layouts/Layout.astro";
import Services1 from "../components/ServicesCompany.astro";
import Services2 from "../components/Services.astro";
import Services3 from "../components/ServicesCustomer.astro";
---

<Layout>
  <main>
    <Services1 />
    <Services2 />
    <Services3 />
  </main>
</Layout>
